=form_for(@post) do |f|
	-if @post.errors.any?
		#errorExplanation
	    	%h2
				= pluralize(@post.errors.count, "error")
				prohibited this post from being saved:
		    %ul
		    	-@post.errors.full_messages.each do |msg|
					%li= msg

	%h2= f.label :title
	%p= f.text_field :title
	%h2= f.label :content
	%p= f.text_field :content
  	.actions= f.submit