<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	  <h2><%= f.label :title %></h2>
      <p><%= f.text_field :title %></p>

	  <h2><%= f.label :content %></h2>
	  <p><%= f.text_field :content %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
