<!DOCTYPE html>
%html
	%head
		%title Yak
		= javascript_include_tag "application", "rails"
		= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
		= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'
		= javascript_include_tag 'jquery.livequery'
		= stylesheet_link_tag 'yak'
		= csrf_meta_tag
	%body
	
		%p.notice= notice
		%p.alert= alert
		#menu
			%ul
				%li= link_to('Blog', root_path)
				%li= link_to('About Me')
				%li= link_to('Cool Links')
				%li= link_to('Things I\'m interested in')
				%li= link_to('Hire Me', hireme_path)
			
		#content
			= yield